LoadModule ssl_module modules/mod_ssl.so
Listen 443

<VirtualHost *:80>
  Redirect permanent / https://{{ansible_hostname}}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ ansible_hostname }}

    SSLEngine on
    SSLCertificateFile {{ SSLCertificateFile }}
    SSLCertificateKeyFile {{ SSLCertificateKeyFile }}
    SSLCACertificateFile {{ SSLCACertificateFile }}
    SSLProtocol all -SSLv2 -SSLv3

    ProxyRequests Off

    ProxyPass / http://127.0.0.1:8080/
    ProxyPassReverse / http://127.0.0.1:8080/

    <Location "/">
        Order allow,deny
        Allow from all
    </Location>
</VirtualHost>