<settings>
  <servers>
    <server>
      <id>settingsKey</id>
      <username>{{ cbioportal_database.username }}</username>
      <password>{{ cbioportal_database.password }}</password>
    </server>
  </servers>
</settings>